.history {
	position: absolute;
	top: 17%;
	width: 90%;
	left: 5%;
	border-collapse: separate;
	border-spacing: 0 7px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #03a;
}

.history .hist-cell:nth-child(odd) {
	background-color: #ccc;
}

.hist-cell .date-created {
	width: 23%;
}

.hist-cell .hist-content {
	text-align: left;
}

.hist-cell .link-to {
	width: 50px;
	text-align: center;
}