{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<title>Edit</title>
	<link type="text/css" rel="stylesheet" href="/static/editstyles.css">
{% endblock %}

<!-- top-nav -->

{% block header %}
	{{ super() }}
{% endblock %}

{% block controls %}
	<div class="tool-menu">
		<a href="{{ url }}{% if page_id %}?v={{ page_id }}{% endif %}">view</a>
		<a href="/_history{{ url }}">history</a>
	</div>
{% endblock %}

<!-- top-nav end -->

{% block content %}
	<form method="post">
		<div class="content">
			<textarea name="content">{{ page and page.content or "" }}</textarea>
		</div>

		<input type="submit" value="Save">
	</form>
{% endblock %}