{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<title>Login</title>
	<link type="text/css" rel="stylesheet" href="/static/formstyles.css">
{% endblock %}

<!-- top-nav -->

{% block header %}
	<h3><a href="/">PseudoWiki</a></h3>
	<div class="nav-menu">
		<a href="/signup">signup</a>
	</div>
{% endblock %}

<!-- top-nav end -->

{% block content %}
	<h1>Login</h1>
	<form method="post">
		<table>
			<tr>
				<td class="label">Username</td>
				<td><input type="text" name="username" value="{{username}}"></td>
			</tr>

			<tr>
				<td class="label">Password</td>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
	  
	  	<span class="error">{{ error_login }}</span>

	  	<input type="hidden" name="next_url" value="{{next_url}}">
		<input type="submit" value="submit" style="left:-5px; top:10px;">
	</form>
{% endblock %}