{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<title>PseudoWiki</title>
{% endblock %}

<!-- top-nav -->

{% block header %}
	{{ super() }}
{% endblock %}

{% block controls %}
	<div class="tool-menu">
		{% if user %}
		<a href="/_edit{{ url }}{% if page_id %}?v={{ page_id }}{% endif %}">edit</a>
		{% endif %}
		<a href="/_history{{ url }}">history</a>
	</div>
{% endblock %}

<!-- top-nav end -->

{% block content %}
	<div class="content">
		{% block stuff %}
			{{ page.content | safe }}
		{% endblock %}
	</div>
{% endblock %}